.container{
    padding-top: 8rem;
    position: relative;
    overflow: hidden;
}

.imgdown{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    background: url(/contactdown.png);
    height: 25rem;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.innercontainer{
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
    align-items: center;
}

.heading{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--heading);
    text-align: center;
    position: relative;
}

.headingicon{
    top: -1.5rem;
    right: -2rem;
    position: absolute;
    background-image: url(/heading.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
}

.techcontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.tech{
    height: 3rem;
    width: 6rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.tech:hover{
    transform: translateY(-15px);
}

.innercontainer2{
    margin-top: 3rem;
}

@media(max-width: 768px) {
    .innercontainer{
        flex-direction: column;
        gap: 4rem;
    }
    .heading{
        border-right: none;
        border-bottom: 2px solid var(--dark_gray);
        padding-right: 0;
    }
    .headingicon{
        right: -2rem;
    }
}