.container{
    background-image: url(/about.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.innercontainer{
    padding: 0rem 0 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.page{
    position: absolute;
    top: 0rem;
    width: 100%;
    height: 30rem;
    background-color: rgb(255, 255, 255);
}

.content{
    margin-top: 2rem;
    height: 30rem;
    width: 80%;
    position: relative;
}

.myimg{
    background-image: url(/aboutimg.png);
    height: 7rem;
    width: 7rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -40px;
    left: 45%;
}

.page1{
    box-shadow: -2px 9px 10px rgba(0,0,0,.1);
    transform: rotate(-2deg);
}

.page2{
    box-shadow: -2px 9px 10px rgba(0,0,0,.1);
    transform: rotate(3deg);
}

.page3{
    box-shadow: -2px 9px 10px rgba(0,0,0,.1);
    transform: rotate(1deg);
}

.actualcontent{
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 7rem;
    padding: 0 5rem;
}

.heading{
    font-size: 3rem;
    font-weight: bold;
    color: var(--heading);
    line-height: 3.5rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.para{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--heading);
    text-align: center;
}

.btn{
    width: 10rem;
    height: 10rem;
    background-image: url(/aboutbtn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 50px;
    left: 42%;
    animation: spinbtn 5s linear infinite;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}

.btngif{
    width: 7rem;
    height: 7rem;
    background-image: url(/aboutgif.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

@keyframes spinbtn{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}

@media(max-width: 1280px) {
    .heading{
        font-size: 2.5rem;
        line-height: 2.8rem;
    }
    .btn{
        height: 8rem;
        width: 8rem;
        left: 38%;
    }
    .btngif{
        height: 5rem;
        width: 5rem;
    }
    .myimg{
        left: 40%;
    }
}

@media(max-width: 768px) {
    .content{
        width: 100%;
    }
    .actualcontent{
        padding: 0 2rem;
    }
    .heading{
        font-size: 2rem;
    }
}